

.accesses-tab-wrapper .requisites-cell {
  flex-basis: 25%;
  padding-right: 12px;
  padding-left: 5px; 
}



/* 1. Название */
.accesses-tab-wrapper .requisites-cell:nth-child(1) { 
  flex-basis: 20%; 
} 
/* 2. Логин */
.accesses-tab-wrapper .requisites-cell:nth-child(2) { 
  flex-basis: 25%; 
}
/* 3. Пароль */
.accesses-tab-wrapper .requisites-cell:nth-child(3) { 
  flex-basis: 25%; 
}
/* 4. Описание */
.accesses-tab-wrapper .requisites-cell:nth-child(4) { 
  flex-basis: 30%; 
  padding-right: 0; 
} 

/* 5. Кнопка "X" (Действия) */
.accesses-tab-wrapper .requisites-cell.action-cell {
  flex-basis: 40px; 
  flex-shrink: 0;
  justify-content: center;
  padding-left: 10px;
  padding-right: 0;
}


@media (max-width: 768px) {
  .accesses-tab-wrapper .requisites-row {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-form-color);
    border-radius: 6px;
  }
  
  .accesses-tab-wrapper .requisites-row.header-row {
    display: none; 
  }

  .accesses-tab-wrapper .requisites-cell {
    flex-basis: auto !important; 
    width: 100%;
    padding: 0 0 10px 0 !important; 
  }

  .accesses-tab-wrapper .requisites-cell.action-cell {
    padding-top: 5px;
    align-self: flex-end;
  }
  
  .accesses-tab-wrapper .assets-workplan-textarea {
    min-height: 40px; 
  }
}