.contacts-tab .photo-link-wrapper{
  display:flex;
  gap:8px;
  width: 100%;
}
.contacts-tab .photo-link-wrapper button{
  all:unset;
  padding:6px 10px;
  border-radius:4px;
  background:#165a8d;
  color:#fff;
  cursor:pointer;
  transition:background .2s;
}
.contacts-tab .photo-link-wrapper button:disabled{
  opacity:.4;
  cursor:default;
}
.contacts-tab .photo-link-wrapper button:not(:disabled):hover{
  background:#1c6bb0;
}
