.finances-tab .two-cols{

}


.tab-content-title{
  color: #c0c0c0;
}


.select-plus{
  width: 100%;
}

.custom-number-input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-form-color); 
  width: 100%;
}

.num-btn {
  background: transparent;
  border: none;
  color: #aeb8d3; 
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 12px;
  height: 38px; 
  transition: background 0.2s;
}


.num-btn:disabled {
  color: #5a6688;
  cursor: not-allowed;
}


.custom-number-input input[type="number"] {
  flex-grow: 1; 
  border: none;
}




.custom-number-input input::-webkit-outer-spin-button,
.custom-number-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.custom-number-input input[type="number"] {
  -moz-appearance: textfield;
}


.custom-number-input input:focus,
.num-btn:focus {
  outline: none;
}


.fake-input-toggle {
  background-color: #19213A;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: var(--container-text-color);
    padding: 10px 12px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    width: 100%; 
    box-sizing: border-box;
}


.fake-input-toggle:focus {
  outline: none;
}