.currency-rates-page {
    display: flex;
    min-height: 100vh; 
}

.currency-rates-main-container {
    flex-grow: 1; 
    background-color: var(--bg-color);
    color: var(--text-color);
}


.currency-rates-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
    height: 60px;
    background-color: var(--container-bg);
    border-bottom: 1px solid var(--border--color);
    border-radius: 8px; 
}

.currency-rates-header-title {
    border-right: 1px solid var(--border--color);
    padding: 0px 35px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: var(--font-size-page-title);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0; 
}


.currency-rates-table-container {
    background-color: var(--container-bg);
    color: var(--text-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow-x: auto; 
}


.currency-rates-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0;
    text-align: left;
    table-layout: fixed;
}


.currency-rates-table thead {
    background-color: var(--container-bg);
    font-size: var(--font-size-table-header);
}

.currency-rates-table th {
    padding: 12px 15px;
    font-weight: 600;
    position: sticky;
    top: 0;
    text-align: center;
    border-right: 1px solid var(--bg-color);
    border-bottom: 10px solid var(--bg-color);
}


.currency-rates-table thead tr th:first-child {
    border-top-left-radius: 8px;
}
.currency-rates-table thead tr th:last-child {
    border-top-right-radius: 8px;
    border-right: none; 
}


.currency-rates-table tbody tr {
    transition: background-color 0.2s ease;
}


.currency-rates-table tbody tr:hover {
    background-color: var(--input-border-focus);
}

.currency-rates-table td {
    padding: 12px 15px;
    text-align: center;
    color: var(--text-color);
    vertical-align: middle; 
    border-bottom: 1px solid var(--bg-color);
    border-top: 1px solid var(--bg-color);
    border-right: 1px solid var(--bg-color);
    white-space: normal;
    word-wrap: break-word;
    font-size: var(--font-size-table-text);
}

.currency-rates-table td:last-child {
    border-right: none;
}



.currency-rates-editable-input {
    width: 100%; 
    box-sizing: border-box; 
    padding: 6px;
    border: 1px solid var(--input-border);
    border-radius: 4px; 
    text-align: center;
    font-size: 11px; 
    background-color: var(--input-bg);
    color: var(--text-color);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.currency-rates-editable-input:focus {
    outline: none;
    border-color: var(--input-border-focus);
    box-shadow: 0 0 0 2px rgba(51, 157, 199, 0.3);
}


.action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-end;
    width: 100%;
    padding: 0; 
    box-sizing: border-box;
}

.cancel-order-btn {
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
    padding: 8px 16px;
    color: var(--container-text-color);
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.2s ease;
    opacity: 0.8;
}

.cancel-order-btn:hover {
    background-color: rgba(128, 128, 128, 0.1);
    opacity: 1;
    transform: translateY(-1px);
}

.save-order-btn {
    background-color: var(--button-bg);
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    color: #fff; 
    font-weight: bold;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.save-order-btn:hover {
    background-color: var(--accent-color); 
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}