.actions-bar{
  width: 100px;
  flex-shrink: 0; 
  background-color: var(--bg-menu-color); 
  border-left: 1px solid var(--border--color);
  border-right: 1px solid var(--border--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow-y: auto;
}

.actions-bar button{
  width: 100%;
  padding: 8px 4px;
  margin-bottom: 5px;
  border: none;
  background-color: transparent;
  color: var(--container-text-color); 
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.actions-bar button:hover{
  background-color: var(--container-bg);
}

/* прячем на очень узких экранах */
@media(max-width:700px){
  .actions-bar{display:none;}
}
