.custom-content-input {
    background: none;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: var(--container-text-color);
    background-color: var(--container-bg);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box; 
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}