body {
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: 0.3s ease-in-out;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transition: background 0.3s ease-in-out;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
:root {
/* Светлая тема */
	--bg-color: #F6F8FF;
	--text-color: #DEE1ED;
	--text-hover-color: ;
	--container-bg: #0F2231;
	--container-text-color: #7DADFF;
	--container-hover-bg: #629CFF;
	--container-hover-text-color: #39415A;
	--button-bg: #19374D;
	--button-text: #FFFFFF;
	--btn-border-color: #284860;
	--opacity-container: rgba(25, 33, 58, 0.1);
	--font-size-page-title:   22px;  
  	--font-size-table-header: 17px; 
  	--font-size-table-text:   15px;
}
[data-theme="dark"] {
/* Темная тема */
	--page-bg: ;
    --bg-color: #121524;
    --bg-menu-color: #05071c;
    --text-color: #F6F8FF;
    --text-hover-color: ;
    --container-bg: #22273b;
    --container-text-color: #F6F8FF;
    --container-hover-bg: #629CFF;
    --container-hover-text-color: #7e8aa4;
    --border--color: #121624;
    --chips-color: #7F8BA4;
    --button-bg: #2f364f;
    --button-text: #19213A;
    --input-bg: #242b45;
    --input-border: #4A5568;
    --input-border-focus: #478cff;
    --opacity-container: rgba(25, 33, 58, .7);
	--border-form-color: rgba(128, 128, 128, 0.3);
	--font-size-page-title: 22px;
    --font-size-table-header: 15px;
    --font-size-table-text: 13px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  all: unset;
  cursor: pointer; 
}
.hidden-scroll {
	overflow: auto;
	scrollbar-width: none; 
	-ms-overflow-style: none; 
}
.hidden-scroll::-webkit-scrollbar {
    width: 6px;
}
.hidden-scroll::-webkit-scrollbar-thumb {
    display: none;
}
/*Настройка ширины/высоты полосы прокрутки*/
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}
/*Стилизация фона полосы прокрутки */
::-webkit-scrollbar-track {
    background-color: var(--bg-menu-color);
    
}
/*Стилизация бегунка*/
::-webkit-scrollbar-thumb {
    background-color: var(--chips-color);
    border-radius: 10px;
    border: 2px solid var(--bg-menu-color); 
}
/*Ховер бегунка*/
::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}
/* Стилизация для Firefox */
/* Тут нам нужно указать конкретные контейнеры, к которым будем применять стилизацию 
привел пример с формой добавления записи в журнал */
.form-modal, 
.log-entry-details-modal,
.journal-table-container, 
.role-checkbox-dropdown 
{
    scrollbar-width: thin; 
    /*Оставлю и тут подсказку на будущее, чтобы не забыть нам
	 thumb color (бегунок) / track color (дорожка) */
    scrollbar-color: var(--chips-color) var(--bg-menu-color); 
}